<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Olá Resposta</title>
</head>
<body>
    <div>
        <h1>Resposta do Visitante</h1>
    </div>
    <div>
        <span>Olá, <%= nome %>!</span>
        <span>Obrigado por visitar nosso site.</span>
    </div>
</body>
</html>