<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soma</title>
</head>
<body>
    <div><h1>Realizando Soma</h1></div>
    <div>
        <form action="/soma" method="post">
            <label for="numero">Primeiro númmero:</label>
            <input type="number" name="numero1" placeholder="Número 1" required>
            <label for="numero">Segundo númmero:</label>
            <input type="number" name="numero2" placeholder="Número 2" required>
            <button type="submit">Somar</button>
        </form>
    </div>
</body>
</html>